Repository meta-mart/metamart, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, devops, backend, ingestion, documentation, spec

.github/labeler.yml:

# Label when source files are for UI team
ui:
  - "metamart-ui/**/*"
  - "package.json"

# Label for Devops when source files is in docker or github
devops:
  - "docker/**/*"
  - ".github/**/*"

# Label for backend team
backend:
    - "metamart-service/**/*"
    - "metamart-clients/**/*"
    - "metamart-dist/**/*"
    - "metamart-service/**/*"
    - "metamart-spec/**/*"

# Label for ingestion, when source file is in ingestion or airflow
ingestion:
  - "metamart-airflow-apis/**/*"
  - "ingestion/**/*"
  - "ingestion-core/**/*"

# Label for documentation , when source file is in docs
documentation:
  - "metamart-docs/**/*"
  - "metamart-docs-v1/**/*"

# Label to help us track spec changes
spec:
  - "metamart-spec/**/*"

creation of table hist net adds
  ingestion/setup.py
Labels: ingestion

creation of table hist net adds
  .github/workflows/python-packages-publish.yml
Labels: devops

creation of table hist net adds
  .github/workflows/python-packages-publish.yml
  ingestion/setup.py
Labels: devops, ingestion

initial commit
  ingestion/Dockerfile
Labels: ingestion

initial commit
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
Labels: ingestion
